*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -9999999;
  color: rgb(84, 84, 84);
  padding: 0;
  border-width: 8px;
  border-color: transparent;
  border-style: solid;
  font-size: 10px;
  text-align: right;
  line-height: 30px;
  background: transparent;
  overflow: hidden;
  transition: border-color 250ms ease-in;
}

#iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#errors {
  width: fit-content;
  margin: 0;
  padding: 23px;
  font-family: monospace;
  font-size: 12px;
  line-height: 1.4;
  color: #eff1f5;
  background: #b16a71;
  overflow: auto;
  min-width: 100vw;
  min-height: 100vh;
}

#statuswrapper {
  padding-right: 20px;
}

#okness {
  font-weight: bold;
  color: rgb(84, 84, 84);
  transition: color 200ms ease-in;
}

#status {
  color: rgb(84, 84, 84);
  transition: color 200ms ease-in;
}
